.textoAboutMe {
    background-color: $background-principal;
    padding: 5px;
    font-size: 30px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 50px;
    p{
        padding: 10px;
    }
}

