footer {
    .branding {
    text-align: center;
    text-overflow: 300px;
    }
    .logoIg{
        float: right;
        width: 30px;
        height: 30px;
    }
    .logoSpotify{
    float: right;
    width: 30px;
    height: 30px;
    }
}

